@page "/project/edit"
@page "/project/edit/{Slug}"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject Task<ContentManager> contentManager

<section class="editor">
    @if (project == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row">
            <div class="form-group">
                <label for="creds">Git credentils</label>
                <div>
                    <InputText @bind-Value=creds.Id />
                    <InputText type="password" placeholder="Password" @bind-Value=creds.Id />
                </div>
            </div>
            <EditForm Model=@project OnSubmit="@UploadProject" class="form-group" style="width: 50%;">
                <div class="form-group">
                    <div>
                        <label for="Title">Title</label>
                        <KeystrokeTextInput @bind-Value=project.Title />
                    </div>
                    <div class="row" style="flex-wrap: wrap;padding-top: 0.5em;padding-bottom: 0.5em;">
                        <label for="Slug">Slug</label>
                        <InputText @bind-Value=project.Slug />
                        <label for="Public">Public</label>
                        <InputCheckbox @bind-Value=project.Public />
                    </div>
                    <div>
                        <label for="CoverImagePath">CoverImagePath</label>
                        <InputText @bind-Value=project.CoverImagePath />
                    </div>
                    <div class="row" style="flex-wrap: wrap;padding-top: 0.5em;padding-bottom: 0.5em;">
                        <div class="form-group">
                            <label for="PublicationDate">Publication Date</label>
                            <InputDate @bind-Value=project.PublicationDate />
                        </div>
                        <label for="Sate">State</label>
                        <div class="row">
                            <InputSelect @bind-Value=project.State>
                                @foreach (var state in Enum.GetValues<Model.Enums.ProjectState>())
                                    {
                                    <option value="@state" label="@StateToString(state)"></option>
                                    }
                            </InputSelect>
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Content">Project excerpt</label>
                    <KeystrokeTextArea @bind-Value=project.Excerpt Rows="30" />
                </div>
                <button type="submit" class=""><span class="@submitClass"></span>@submitText</button>
                <span class="small" style="margin: 1em auto;">@result</span>
            </EditForm>

            <div class="post" style="width: 50%;">
                <img class="" src="@project.CoverImagePath" alt="Project banner">
                <h1>@project.Title</h1>
                <span class="small">@StateToString(project.State)</span>
                @if (!string.IsNullOrEmpty(project.Excerpt))
                {
                    <p class="content">
                        @((MarkupString)Markdig.Markdown.ToHtml(project.Excerpt))
                    </p>
                }
            </div>
        </div>
        <a href="/blog">Back</a>
    }
</section>

@code {
    private Project project;
    [Parameter]
    public string Slug { get; set; }
    private string result;
    private string submitClass = "";
    private string submitText = "Submit";
    private Credentials creds = new Credentials();

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Slug))
        {
            Console.WriteLine($"Trying to get post for edit");
            project = await (await contentManager).GetEntityAsync<Project>(Slug);
        }
        else
        {
            Console.WriteLine($"New post");
            project = new Project();
            project.PublicationDate = DateTime.Today;
        }
    }

    private async Task UploadProject()
    {
        submitClass = "fas fa-spinner fa-pulse";
        submitText = "";
        StateHasChanged();
        var success = false;
        result = "Cannot currently save a project without credentials for git";
        if (creds.Id != null)
        {
            var authenticated = await Http.PostAsJsonAsync<Credentials>("/Git/Authenticate", creds);
            if (authenticated.IsSuccessStatusCode)
            {
                result = "Unfortunately, an error occurred while saving your project.Please try again later.";
                success = await (await contentManager).PostEntityAsync<Project>(project);
            }
            else
                result = "Could not login with these credentials.";
        }
        result = success ? "Your project is saved on the site! Redirecting..." : result;
        submitClass = success ? "fa fa-check" : "fa fa-times";
        submitText = "Submit";
        StateHasChanged();
        if (success)
        {
            await Task.Delay(500);
            NavigationManager.NavigateTo($"/project/{project.Slug}", true);
        }
    }

    private string StateToString(Model.Enums.ProjectState state)
    {
        return state.ToString().Replace("_", " ");
    }
}
