@page "/"
@page "/about"

<div id="mainPage">
    <div id="main">
        <div id="title">
            <small><span>Hi, I'm</span></small>
            <h1>Tristan Robin</h1>
            <span>I like to build things that helps people</span>
        </div>
        <div class="row ">
            <section>
                <h3>About triggan</h3>
                <hr />
                <p>
                    Hello! triggan is my software engineering consulting company.
                    I build things for the people who need it! <br />
                    I like to understand the goals a company or someone can have and translate them into software! <br />
                    But I also enjoy working on other aspects of a project when it can helps! <br />
                    <br />
                    Having spent several years working as a devleoper, I can adapt to various technical and functional environment!
                    The goal is for you to get a solution to your need. <br />
                    A mobile app, a new website? It can be done.
                    Feel free to contact me to discuss about your need! <br />
                </p>
            </section>
            <section>
                <h3>My experiences</h3>
                <hr />
                <p>
                    With several years of software engineering experience, I can work in any kind of business domain. <br />
                    I worked 4 years on public transports applications, first as a software engineer but also as a Delivery Manager and Team Leader. <br />
                    <br />
                    I stabilised a webapp available to the public, providing medical reports. <br />
                    More recently I've been working on various medical applications (medical image reader, quality control application, ...). <br />
                </p>
            </section>
        </div>
        <a href="mailto:tristan.robin69@gmail.com" class="mail">
            <span class="@("fa fa-envelope")"></span>
            Contact me
        </a>
    </div>
    <div id="profilePicture">
        <div id="skillGrid" class="grid">
            @foreach (var skill in skills)
            {
                <div class="card skill-tile">
                    <span class="@($"{skill.Modifier ?? "fa"} fa-{skill.Icon}")"></span>
                    <span>@skill.Name</span>
                </div>
            }
        </div>
        <div id="contactme" class="card skill-tile" style="margin-left: auto;margin-right: auto">
            <span class="@($"{moreSkill.Modifier ?? "fa"} fa-{moreSkill.Icon}")"></span>
            <span>@moreSkill.Name</span>
        </div>
    </div>
</div>


@code {
    class Skill
    {
        public string Icon { get; set; }
        public string Name { get; set; }
        public string Modifier { get; set; }
    }
    private Skill moreSkill = new Skill { Icon = "ellipsis-h", Name = "And more" };

    private Skill[] skills = new[]{
        new Skill { Icon = "terminal", Name = "Software" },
        new Skill { Icon = "visual-studio", Name = ".NET", Modifier = "fa-triggan" },
        new Skill { Icon = "gamepad", Name = "Video Games" },
        new Skill { Icon = "cubes", Name = "3D modeling" },
        new Skill { Icon = "users", Name = "Team Lead" },
        new Skill { Icon = "camera", Name = "Video Edition", Modifier = "fa-solid" },
    };
}
