@page "/blog/{Slug}"
@inject HttpClient Http
@inject Task<ContentManager> contentManager

<section class="post">
    @if (post == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h1>@post.Title</h1>
        <span class="small">
            @if (post.Tags != null)
            {
                foreach (var tag in post.Tags)
                {
                    <a class="tag" href="/tag/@tag">@tag</a>
                }
            }
        </span>
        <span class="small">@post.PublicationDate.ToShortDateString()</span>
        <br />
        @if (post.Content != null)
        {
            <p>
                @((MarkupString)Markdig.Markdown.ToHtml(post.Content))
            </p>
        }
        <StarCounter Slug="@post.Slug" Type="Post" IsCounter="true" @bind-Count=@post.Stars />
        <br />
        <a href="/blog">Back</a>
    }
</section>

@code {
    private Post post;
    [Parameter]
    public string Slug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        post = await (await contentManager).GetEntityAsync<Post>(Slug);
    }

}
